/* general */
* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
/* login page */
.loginPage {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loginCard {
  width: 450px;
  height: auto;
}
.ant-layout {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0.2)
    ),
    url("./assets/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
}
.app {
  height: 100vh;
}
.ant-card-head {
  background-color: #61bf39;
  color: white;
}
/*home page*/
.home {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  text-transform: uppercase;
  font-size: x-large;
  flex-direction: column;
}
.home .bankIcon {
  font-size: 10rem;
}
/* header */
.header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 5;
}
.header-container {
  width: 95%;
  margin: 0 auto;
}
.container-fuild {
  width: 100%;
}
.container {
  width: 85%;
  margin: 0 auto;
}

/* colors and margins */
.blue {
  color: #1890ff;
}

.mr-25 {
  margin-right: 15px;
}
.mt-25 {
  margin-top: 15px;
}
.mb-25 {
  margin-bottom: 15px;
}
.m-25 {
  margin: 15px 0;
}

.mt-25 {
  margin-top: 10px;
}
.h-100vh {
  height: 100vh;
}
.w-100 {
  width: 100%;
}

/* buttons */
.btn {
  -ms-transform: skewX(-20deg); /* IE 9 */
  transform: skewX(-20deg);
}
.primary {
  background-color: #61bf39;
  color: white;
  border: 1px solid #61bf39;
}
.primary:focus {
  background-color: #61bf39;
  color: white;
  border: 1px solid #61bf39;
}
.primary:hover {
  background-color: #76c554;
  color: white;
  border: 1px solid #76c554;
}
.primary:active {
  color: white;
  border: 1px solid#76c554;
}
.warning {
  background-color: #61bf39;
  color: white;
  border: 1px solid #61bf39;
}
.warning:hover {
  background-color: #76c554;
  color: white;
  border: 1px solid #76c554;
}
.warning:active {
  color: #61bf39;
  border: 1px solid#61bf39;
}

/* table */
.ant-table-thead > tr > th {
  color: #f0f0f0;
  background: #61bf39;
  border: 1px solid #61bf39;
}
.ant-table-small .ant-table-thead > tr > th {
  background-color: #61bf39;
}
.ant-table-column-sorter-up.active,
.ant-table-column-sorter-down.active {
  color: #61bf39;
}
.ant-table-filter-trigger.active {
  color: #61bf39;
}
.ant-table-row-expand-icon {
  color: #61bf39;
}
.ant-table-row-expand-icon:focus,
.ant-table-row-expand-icon:hover {
  color: #76c554;
}
.ant-table-row-expand-icon:active {
  color: #76c554;
}
.ant-table-row-expand-icon:focus,
.ant-table-row-expand-icon:hover,
.ant-table-row-expand-icon:active {
  border-color: #76c554;
}

/*menu*/
.ant-menu-item a:hover {
  color: #61bf39;
}
.ant-menu-item > .ant-badge a:hover {
  color: #61bf39;
}
.ant-menu-item:hover,
.ant-menu-item-active,
.ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open,
.ant-menu-submenu-active,
.ant-menu-submenu-title:hover {
  color: #61bf39;
}
.ant-menu-item-selected {
  color: #61bf39;
}
.ant-menu-item-selected a,
.ant-menu-item-selected a:hover {
  color: #61bf39;
}
.ant-menu-submenu:hover
  > .ant-menu-submenu-title
  > .ant-menu-submenu-expand-icon,
.ant-menu-submenu:hover > .ant-menu-submenu-title > .ant-menu-submenu-arrow {
  color: #61bf39;
}
.ant-menu-vertical .ant-menu-submenu-selected,
.ant-menu-vertical-left .ant-menu-submenu-selected,
.ant-menu-vertical-right .ant-menu-submenu-selected {
  color: #61bf39;
}
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu:hover,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-active,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-active,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-open,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-open,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-selected {
  color: #61bf39;
  border-bottom: 2px solid #61bf39;
}
.ant-menu-horizontal > .ant-menu-item a:hover {
  color: #61bf39;
}
.ant-menu-horizontal > .ant-menu-item-selected a {
  color: #61bf39;
}
.ant-menu-vertical .ant-menu-item::after,
.ant-menu-vertical-left .ant-menu-item::after,
.ant-menu-vertical-right .ant-menu-item::after,
.ant-menu-inline .ant-menu-item::after {
  border-right: 3px solid #61bf39;
}
.ant-menu-dark.ant-menu-horizontal > .ant-menu-item:hover {
  background-color: #61bf39;
}
.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: #61bf39;
}
.ant-menu.ant-menu-dark .ant-menu-item-selected,
.ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
  background-color: #61bf39;
}
.ant-table.ant-table-small .ant-table-title,
.ant-table.ant-table-small .ant-table-footer,
.ant-table.ant-table-small .ant-table-thead > tr > th,
.ant-table.ant-table-small .ant-table-tbody > tr > td,
.ant-table.ant-table-small tfoot > tr > th,
.ant-table.ant-table-small tfoot > tr > td {
  padding: 3px 5px;
}
.ant-table.ant-table-small .ant-table-thead > tr > th {
  padding: 8px 8px;
}
/* border */
.ant-table.ant-table-bordered > .ant-table-title {
  border: 1px solid #aaa;
  border-bottom: 0;
}
.ant-table.ant-table-bordered > .ant-table-container {
  border: 1px solid #aaa;
  border-right: 0;
  border-bottom: 0;
}
.ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-content
  > table
  > thead
  > tr
  > th,
.ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-header
  > table
  > thead
  > tr
  > th,
.ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-body
  > table
  > thead
  > tr
  > th,
.ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-content
  > table
  > tbody
  > tr
  > td,
.ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-header
  > table
  > tbody
  > tr
  > td,
.ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-body
  > table
  > tbody
  > tr
  > td,
.ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-content
  > table
  > tfoot
  > tr
  > th,
.ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-header
  > table
  > tfoot
  > tr
  > th,
.ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-body
  > table
  > tfoot
  > tr
  > th,
.ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-content
  > table
  > tfoot
  > tr
  > td,
.ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-header
  > table
  > tfoot
  > tr
  > td,
.ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-body
  > table
  > tfoot
  > tr
  > td {
  border-right: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
}
.ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-content
  > table
  > thead
  > tr:not(:last-child)
  > th,
.ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-header
  > table
  > thead
  > tr:not(:last-child)
  > th,
.ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-body
  > table
  > thead
  > tr:not(:last-child)
  > th {
  border-bottom: 1px solid #aaa;
}
.ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-content
  > table
  > thead
  > tr
  > .ant-table-cell-fix-right-first::after,
.ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-header
  > table
  > thead
  > tr
  > .ant-table-cell-fix-right-first::after,
.ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-body
  > table
  > thead
  > tr
  > .ant-table-cell-fix-right-first::after,
.ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-content
  > table
  > tbody
  > tr
  > .ant-table-cell-fix-right-first::after,
.ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-header
  > table
  > tbody
  > tr
  > .ant-table-cell-fix-right-first::after,
.ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-body
  > table
  > tbody
  > tr
  > .ant-table-cell-fix-right-first::after,
.ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-content
  > table
  > tfoot
  > tr
  > .ant-table-cell-fix-right-first::after,
.ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-header
  > table
  > tfoot
  > tr
  > .ant-table-cell-fix-right-first::after,
.ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-body
  > table
  > tfoot
  > tr
  > .ant-table-cell-fix-right-first::after {
  border-right: 1px solid #aaa;
}
.ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-content
  > table
  > tbody
  > tr
  > td
  > .ant-table-expanded-row-fixed,
.ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-header
  > table
  > tbody
  > tr
  > td
  > .ant-table-expanded-row-fixed,
.ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-body
  > table
  > tbody
  > tr
  > td
  > .ant-table-expanded-row-fixed {
  margin: -16px -17px;
}
.ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-content
  > table
  > tbody
  > tr
  > td
  > .ant-table-expanded-row-fixed::after,
.ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-header
  > table
  > tbody
  > tr
  > td
  > .ant-table-expanded-row-fixed::after,
.ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-body
  > table
  > tbody
  > tr
  > td
  > .ant-table-expanded-row-fixed::after {
  position: absolute;
  top: 0;
  right: 1px;
  bottom: 0;
  border-right: 1px solid #aaa;
  content: "";
}
.ant-table.ant-table-bordered.ant-table-scroll-horizontal
  > .ant-table-container
  > .ant-table-body
  > table
  > tbody
  > tr.ant-table-expanded-row
  > td,
.ant-table.ant-table-bordered.ant-table-scroll-horizontal
  > .ant-table-container
  > .ant-table-body
  > table
  > tbody
  > tr.ant-table-placeholder
  > td {
  border-right: 0;
}
.ant-table.ant-table-bordered.ant-table-middle
  > .ant-table-container
  > .ant-table-content
  > table
  > tbody
  > tr
  > td
  > .ant-table-expanded-row-fixed,
.ant-table.ant-table-bordered.ant-table-middle
  > .ant-table-container
  > .ant-table-body
  > table
  > tbody
  > tr
  > td
  > .ant-table-expanded-row-fixed {
  margin: -12px -9px;
}
.ant-table.ant-table-bordered.ant-table-small
  > .ant-table-container
  > .ant-table-content
  > table
  > tbody
  > tr
  > td
  > .ant-table-expanded-row-fixed,
.ant-table.ant-table-bordered.ant-table-small
  > .ant-table-container
  > .ant-table-body
  > table
  > tbody
  > tr
  > td
  > .ant-table-expanded-row-fixed {
  margin: -8px -9px;
}
.ant-table.ant-table-bordered > .ant-table-footer {
  border: 1px solid #aaa;
  border-top: 0;
}
